.echo-story-text h4 a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; 
    font-size: 18px;
}

.echo-de-category-content-title{
    overflow: hidden;
    -webkit-line-clamp: 6; 
}

.echo-de-category-content-title h6 a{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; 
    font-size: 18px;
}

